@import url("@fontsource/noto-sans");
@import url("@fontsource/grenze/400.css");
@import url("@fontsource/grenze/700.css");

@tailwind base;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --c-white: hsl(189deg 54% 95%);
  --c-blurred-white: hsl(189deg 54% 95% / 80%);
  --c-black: hsl(0deg 0% 0%);
  --c-off-black: hsl(195deg 7% 11%);
  --c-blurred-off-black: hsl(195deg 7% 11% / 80%);
  --c-burnt-orange: hsl(30deg 93% 60%);
  --c-teal: hsl(179deg 46% 60%);
  --c-swamp-green: hsl(60deg 50% 60%);
  --c-verdun-green: hsl(60deg 50% 21%);
  --c-foam-green: hsl(176deg 37% 83%);
  --c-grey: hsl(210deg 16% 76%);
  --c-grey-100: hsl(210deg 40% 98%);
  --c-grey-200: hsl(206deg 33% 96%);
  --c-grey-300: hsl(208deg 21% 88%);
  --c-grey-500: hsl(207deg 12% 43%);
  --c-grey-600: hsl(192deg 8% 12%);
  --c-grey-700: hsl(258deg 19% 14%);
}

@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-white dark:bg-offBlack;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-grenze font-bold;
}

.bg-black-gradient {
  background: rgb(5 6 8);
  background: linear-gradient(
    144deg,
    rgb(5 6 8 / 100%) 0%,
    rgb(5 6 8 / 56.9%) 100%
  );
}

/**  Custom Navigation */

.nav-icon {
  width: 30px;
  height: 30px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

.nav-icon span {
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.nav-icon span:nth-child(1) {
  top: 0;
}

.nav-icon span:nth-child(2),
.nav-icon span:nth-child(3) {
  top: 8px;
}

.nav-icon span:nth-child(4) {
  top: 16px;
}

.nav-icon.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.nav-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

.nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

/** Acessibility Hack **/
.link-guard::before {
  position: absolute;
  content: "";
  inset: 0;
  z-index: 1;
}

/** Anchor Hover **/

.anchor-hover {
  --bg-h: 2px;

  padding-bottom: 2px;
  font-weight: 700;
  color: var(--c-verdun-green);
  background: linear-gradient(
      0deg,
      var(--c-verdun-green),
      var(--c-verdun-green)
    )
    no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 250ms;
}

.dark .anchor-hover {
  color: var(--c-swamp-green);
  background: linear-gradient(0deg, var(--c-swamp-green), var(--c-swamp-green))
    no-repeat right bottom / 0 var(--bg-h);
}

.anchor-hover:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.dark .anchor-hover:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

/** Decorated Buttons **/

.decor-link {
  position: relative;
  transition:
    all 0.15s,
    all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.dark .decor-link:hover {
  color: var(--c-swamp-green);
}

.decor-link::after {
  --tw-bg-opacity: 1;

  background-color: rgb(202 208 100 / var(--tw-bg-opacity));
  bottom: -5px;
  content: " ";
  height: 0.1875rem;
  left: 0;
  position: absolute;
  width: 2rem;
  transition:
    all 0.15s,
    all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.decor-link:hover::after {
  width: 100%;
}

/*** Tyography / Richtext styles - I'm too lazy to write a bunch of parsing options or weird TW classes ***/

.richtext {
  @apply text-base;
}

.richtext .wp-block-heading {
  @apply scroll-m-16;
}

.richtext p,
.richtext ol,
.richtext ul,
.richtext li {
  @apply mb-4;
}

.richtext img {
  @apply my-6;
}

.richtext h2,
.richtext h3,
.richtext h4,
.richtext h5,
.richtext h6 {
  @apply my-6 font-bold;
}

.richtext h2 {
  @apply text-3xl;
}

.richtext h3 {
  @apply text-2xl;
}

.richtext h4 {
  @apply text-xl;
}

.richtext h5 {
  @apply text-lg;
}

.richtext h6 {
  @apply text-base;
}

.richtext ul,
.richtext ol {
  @apply pl-6;
}

.richtext ol {
  @apply list-decimal;
}

.wp-block-quote {
  background:
    linear-gradient(to right, #f89938 3px, transparent 2px) 0 100%,
    linear-gradient(to left, #f89938 3px, transparent 2px) 100% 0,
    linear-gradient(to bottom, #f89938 3px, transparent 2px) 100% 0,
    linear-gradient(to top, #f89938 3px, transparent 2px) 0 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;

  @apply my-6 w-full p-3 text-center;
}

.dark .wp-block-quote {
  background:
    linear-gradient(to right, #f89938 3px, transparent 2px) 0 100%,
    linear-gradient(to left, #f89938 3px, transparent 2px) 100% 0,
    linear-gradient(to bottom, #f89938 3px, transparent 2px) 100% 0,
    linear-gradient(to top, #f89938 3px, transparent 2px) 0 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
