import { GetStaticProps } from "next";
import { SiteGlobals } from "@/src/lib/types";

interface {{nextProperCase name}}Props {
  siteGlobals: SiteGlobals;
}

export default function {{nextProperCase name}}() {
  return (
    <div className="flex min-h-screen flex-col items-center justify-center py-2">
        <p>New Page Content</p>
    </div>
    );
  };
} 
export const getStaticProps: GetStaticProps = async (context) => {
  const siteGlobals = await getGlobals();

  return {
    props: { siteGlobals: { ...siteGlobals } },
    revalidate: 10,
  };
};
